#table-container {
  @media screen and (min-width: 768px) {
    margin: auto;
    padding: 10px;
  }
}

.usa-header {
  background-color: $color-blue-warm-5;
  border-bottom: 1px solid $color-blue-warm-5;
}

.no-floating {
  // Make sure the footer is on it's own and not next to any floating members
  clear: both;
}

.usa-table {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }
  float: left;
}

.usa-table #table-body {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-flow: row wrap;
  }
  display: table-row-group;
}

.usa-table #table-heading {
  @media screen and (max-width: 767px) {
    display: flex;
    flex: 1 0 100%;
    flex-flow: row wrap;
  }
  display: table-header-group;
  background-color: #EEE;
}

.usa-table #table-row {
  @media screen and (max-width: 767px) {
    display: flex;
    flex: 1 0 100%;
    flex-flow: row wrap;
    margin-bottom: 2px;
  }
  display: table-row;
}

.usa-table #table-cell {
  @media screen and (max-width: 767px) {
    flex: 1 0 50%;
    min-width: 50vw;
  }
  min-height: 40px;
  border: 1px solid #999999;
  display: table-cell;
}

.usa-table #table-cell input {
  width: 100%;
  height: 100%;
  border: 0px solid #999999;
}

#selectRow, #selectAll {
  min-width: 13px;
  min-height: 13px;
}